<h3>User container</h3>
<p>Id: {{user.id}}</p>
<p>First-name: {{user.firstName}}</p>
<p>Last-name: {{user.lastName}}</p>
<p>Computed: {{userComputed}}</p>
{{input type="text" value=user.firstName size="50"}}
<p>--------------------------</p>
